.contact-container {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.contact-container h2, .contact-container h3 {
  text-align: center;
  color: #333;
}

.Address p {
  color: #555;
  line-height: 1.5;
}

.contact-form input,
.contact-form textarea {
  display: block;
  width: 100%;
  height: 30px;
  padding: 10px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 20px;
  font-size: 14px;
}

.contact-form textarea {
  min-height: 80px;
  resize: vertical;
}

.contact-form button {
  padding: 10px 15px;
  background-color: orange;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.contact-form button:hover {
  background-color: #0056b3;
}

.error-message {
  color: red;
  font-size: 12px;
  margin:auto;
}
