.footer {
  background-color: #c3510f;
  color: black;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 100%;
  margin-top: auto;
  position: relative;
  bottom: 0;
 
}

/* Optional: Make sure page layout supports footer at bottom */
html, body, #root {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

#root {
  display: flex;
  flex-direction: column;
}

.footer {
  flex-shrink: 0;
}
.color {
color:rgb(17, 11, 185);
 text-decoration: none;
}