.footer {
  width: 100%;
  background-color: #da6811;
  color: white;
  padding: 20px 0;
  text-align: center;
  position: relative;
  bottom: 0;
}
/* Optional: Make sure page layout supports footer at bottom */
html, body, #root {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

#root {
  display: flex;
  flex-direction: column;
}

.footer a {
  flex-shrink: 0;
  text-decoration: none;
}
.color {
color:rgb(27, 20, 150);
}
.footer span {
  font-size: 20px;
}
