.home-container {
  width: 100vw;                
  margin: 0;
  padding: 0;
  overflow: hidden;           
  display: flex;
  justify-content: center;     
  align-items: center;         
}

.home-container img {
  width: 100vw;                
  height: 100vh;               
  object-fit: cover;    
  filter: brightness(25%);       
  object-position: center;     
}




.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 150%;
    height: 100%;
    object-fit: cover;
    z-index:-1;
}
.home-content {
    position: relative;
    color: white;
    text-align: right;
    top: 30%;
    font-size: 80px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.7);
}
@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.home-title {
  position: absolute;
  top: 25%;
  right: 11%;
  transform: translate(-50%, -50%);
  text-align: left;
  color: rgb(254, 251, 251);
  font-size: 40px;
  animation: appear 2s ease-out;
}
@keyframes appear {
  0% {
    opacity: 0;
    transform: translate(50px, -50%);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}

.service {
    position: absolute;
    top:34%;
    right: 32%;
    transform: translate(-50%,-50%);
    text-align: left;
    color: black;
    font-size: 30px;
    animation: appear 3s ease;
}

@keyframes text3-appear {
  0% {
    opacity: 0;
    transform: translateY(30px);
    color: #ff0000;
    text-shadow: none;
  }
  50% {
    opacity: 0.6;
    color: red;
    text-shadow: black;
  }
  100% {
    opacity: 1;
    transform: translateY(-50%);
    color:rgb(247, 249, 245);
  }
}
.text3 {
  position: absolute;
  top: 110%;
  right: 45%;
  transform: translate(5px, -50%);
  text-align: left;
  display: flex;
  font-size: 15px;
  animation: text3-appear 2.5s ease-in-out forwards;
}
