

.navbar {
  position: fixed!important;
  top: 0;
  left: 0;
  width: 100%;
  height: 130px;                     
  background: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
  z-index: 99999;                      
}

.logo img {
  height: 80px;
  width: 210px;
  padding: 5px;
}

.nav-links {
  display: flex;
  gap: 22px;
  list-style: none;
}

.nav-links li a {
  display: flex;
  align-items: center;
  gap: 6px;
  text-decoration: none;
  color: #000;
  font-size: 20px;
  font-weight: 500;
  transition: 0.3s ease;
}

.nav-links li a:hover {
  color: #007bff;
  transform: scale(1.06);
}


.toggle-btn {
  display: none;
  font-size: 40px;
  background: none;
  border: none;
  cursor: pointer;
  color: #007bff;
}


@media (max-width: 768px) {
  .toggle-btn {
    display: block;
  }

  .nav-links {
    display: none;
    position: absolute;
    top: 110px;                       
    right: 15px;
    width: 220px;
    background: #ff6600;
    padding: 18px;
    border-radius: 12px;
    flex-direction: column;
  }

  .nav-links li {
    margin: 12px 0;
  }

  /* Show menu when active */
  .nav-links.show {
    display: block;
  }
}
