.navbar {
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 15px 40px;
  position: static;
  border-radius: 13px;
  margin-top: 10px;
}

.nav-list {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 30px;
  margin: 0;
  position: relative;
}

.nav-list li a {
  text-decoration: none;
  color: rgb(227, 11, 32);
  font-size: 18px;
  font-weight: 500;
  transition: color 0.3s ease, transform 0.3s ease;
  margin-right: 20px;
}

/* ✅ Hover only on text */
.nav-list li a:hover {
  color: #007bff;      /* change only text color */
  transform: scale(2.2); /* slight zoom */
}
.logo img {
  height: 55px;
  width: auto;
  margin-right: 660px;
  align-items: center;
  margin-top: -16px;
}
.contact-number {
  text-align: left;
  font-size: 1.15rem;
  line-height: 1.4;
  margin-left:-500px;
}

.contact-number p {
  margin: 2px 0;
}
