.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 25px;
  color: #fff;
  margin-top: 10px;
}

/* Logo */
.logo img {
  height: 80px;
  width:220px;
  margin-left:30px;
}

/* Nav Links */
.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
  margin-top: 40px;
}

.nav-links li a {
  display: flex;
  align-items: center;
  gap: 8px;   /* space between icon & text */
  text-decoration: none;
  color: black;
  font-size: 20px;
  padding:0 5px;
}


.nav-links li a:hover {
  color: #007bff;
  transform: scale(1.2);
}

/* CONTACT NUMBER */
.toggle-btn {
  display: none;
  font-size: 30px;
  background: none;
  border: none;
  color: red;
  cursor: pointer;
  margin-right: 10px;
  color:#6397cf;
}
.toggle-btn:hover{
    color: #007bff;
  transform: scale(1.2);
}

/* Responsive */
@media (max-width: 768px) {
  .toggle-btn {
    display: block;
  }

  .nav-links {
    position: absolute;
    top: 70px;
    right: 0;
    width: 180px;
    background: #ff6600;
    flex-direction: column;
    padding: 15px;
    display: none;
  }

  .nav-links li {
    margin: 15px 0;
  }

  .nav-links.show {
    display: block;
    color: blue;
  }
}