.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
body {
  padding-top: 110px; /* same as navbar height */
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.home-container {
  width: 100vw;                
  margin: 0;
  padding: 0;       
  overflow: visible;
  display: flex;
  justify-content: center;     
  align-items: center;
        
}

.home-container img {
  width: 100vw;                
  height: 100vh;               
  object-fit: cover;    
  filter: brightness(25%);       
  object-position: center;     
}




.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    object-fit: cover;
    z-index:-1;
}
.home-content {
    position: relative;
    color: white;
    text-align: right;
    top: 30%;
    font-size: 80px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.7);
}
@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.home-title {
  position: absolute;
  top: 25%;
  right: 11%;
  transform: translate(-50%, -50%);
  text-align: left;
  color: rgb(254, 251, 251);
  font-size: 40px;
  animation: appear 2s ease-out;
}
@keyframes appear {
  0% {
    opacity: 0;
    transform: translate(50px, -50%);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}

.service {
    position: absolute;
    top:34%;
    right: 32%;
    transform: translate(-50%,-50%);
    text-align: left;
    color: black;
    font-size: 30px;
    animation: appear 3s ease;
}

@keyframes text3-appear {
  0% {
    opacity: 0;
    transform: translateY(30px);
    color: #ff0000;
    text-shadow: none;
  }
  50% {
    opacity: 0.6;
    color: red;
    text-shadow: black;
  }
  100% {
    opacity: 1;
    transform: translateY(-50%);
    color:rgb(247, 249, 245);
  }
}
